<mat-toolbar color="primary" class="op-header">
    <div class="op-header__body">
        <div class="op-header__title">
            <span>NX</span>
        </div>
        <div class="op-header__content">
            <div class="op-header__notify">
                <mat-icon>notification_important</mat-icon>
            </div>
            <div class="op-header__account">
                <mat-icon>account_circle</mat-icon>
            </div>
            <div class="op-header__user">
                <!-- Jim -->
                <mat-icon>logout</mat-icon>
            </div>
        </div>
    </div>
</mat-toolbar>