.container {
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
}

.toggle-menu {
  position: fixed;
  top: 15px;
  left: 15px;
}

.toggle-menu:hover {
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0px;
  height: 55px;
  background-color: #ccc;
  width: 100%;
}

.mat-button.mat-white {
  color: white;
}
.mat-icon-button.mat-white {
  color: white;
}